@charset "ISO-8859-1";

.container {
	width: 1200px;
	margin: auto;
	margin-top: 100px;
}

.login2 {
	width: 500px;
	margin: auto;
	margin-top: 200px;
}

h2 {
	text-align: center;
}

.espaco-componentes {
	margin-top: 30px;
}

.bem-vindo {
	text-align: center	
}
