<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Lista</title>
</head>
<body>
	<main layout:fragment="conteudo">
		<div class="container">
			<h3>Lista chamados</h3>
			<table class="table">
				<thead class="thead-light">
					<tr>
						<th scope="col">Registro</th>
						<th scope="col">Título</th>
						<th scope="col">Tipo de problema</th>
						<th scope="col">Data de abertura</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each = "chamado : ${chamados}">
						<th scope="row" th:text="${chamado.id}"></th>
						<td th:text="${chamado.titulo}"></td>
						<td th:text="${chamado.tipoProblema.descricao}"></td>
						<td th:text="${chamado.dataAbertura}"></td>
						<td>
							<a th:href="@{'/atualiza/' + ${chamado.id}}">Atualizar</a>
							&nbsp
							<a th:href="@{'/deleta/' + ${chamado.id}}" id="encerrar">Encerrar</a>
						</td>
					</tr>
				</tbody>
			</table>
			
		</div>
	
	</main>

</body>
</html>