<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">	
</head>
<body>
	<main layout:fragment="conteudo">
		<div class="login2">
			<h3>SISTEMA DE CHAMADOS DA TG</h3>	
			<div class="card-light mb-3 card-login">
				<div th:if=${param.error} class="alert alert-danger">
					Usuário e senha erradas
				</div>			
				<div th:if=${param.logout} class="alert alert-success">
					Logoff efetuado
				</div>
				<form th:action="@{/login}" class="card-body espaco-login" method="post">		
					<div class="form-group espaco-login">
						<label for="chave">Chave</label>
						<input name="username" type="text" class="form-control" id="chave">
					</div>
					<div class="form-group">
						<label for="senha">Senha</label>
						<input name="password" type="password" class="form-control" id="senha">
					</div>
					<button type="submit" class="btn btn-primary ">Login</button>
				</form>
			</div>
		</div>
	</main>
</body>
</html>